<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="node_modules/angular/angular.js"></script>
</head>

<body data-ng-app="FormDataApp">
    <div data-ng-controller="Cntrl as vm">
        <h1>{{vm.title}}</h1>
        <input id="i1" type="file" data-ng-model="vm.files">
        <button id="b1" data-ng-click="vm.upload('put')">Put</button>
        <button id="b1" data-ng-click="vm.upload('post')">Post</button>
    </div>
    <script type="text/javascript">
        angular.module('FormDataApp', []);
        angular.module('FormDataApp').controller('Cntrl', function($http) {
            var vm = this;
            vm.files = [];
            vm.title = 'FormData';
            vm.formData = new FormData();

            vm.upload = function(method) {
                console.log(i1.files[0])
                vm.formData.append('image', i1.files[0]);
                $http[method]('http://localhost:3000/upload', vm.formData,{headers: {'Content-Type': undefined}})
                .then(function(data){console.log(data)})
                .catch(function(err){console.log(err)});
            };
        })
    </script>
</body>

</html>